
  

<div class="header">
  <div class="badge-container">
    <div class="badge-base LI-profile-badge linkedin-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="anthonycalderaiojr" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/anthonycalderaiojr?trk=profile-badge"></a></div>
      <a href="tel:2674102791" class="btn call-now-button" (click)="callSomeFunction()">
        <span>Call now</span> <br> <span>(267) 410 - 2791</span>
      </a>
  </div>

    <div class="explaination"> 
      <h1>Learn with the Experts</h1>
      <p>Get real-time, expert programming assistance with just a call. Our team will provide immediate help with front-end, back-end, AI, app development, networking and more.</p>
      <!-- <p>Call now <i>totally free</i></p> -->
      <!-- <ul style="display: flex; justify-content: center;"> -->
        <!-- <li style="text-align: left;"> <em>Free Advice from Noon - 1pm daily</em></li> -->
      <!-- </ul> -->
    </div>
  </div>