
<div id="home" class="container">

    <nav class="menu-bar">
      <div class="logo">Palm Beach Modern Renovations</div>
      <ul>
        <li><a href="#home">Home</a></li>
        <!-- <li><a href="#gallery">Gallery</a></li> -->
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact-section">Contact</a></li>
      </ul>
    </nav>
  

  <section class="gallery">
    <img src="../assets/examples/example1.jpg" alt="Modern wood slats">
    <img src="../assets/examples/example2.jpg" alt="Dark wood slats">
    <img src="../assets/examples/example3.jpg" alt="Elegant wood slat wall">
  </section>

  <header class="container-header">
    <h1 >Wood Slat Wall Installations</h1>
    <h2 >Servicing the Palm Beach Area</h2>
    <p>Do you live in the Palm Beach area? Have your home transformed with a modern, elegant looking wood slat installation in hours.  Call now at (267) 410-2791 for a free quote. </p>
  </header >

  <h2 style="text-align: center;"></h2>
  <section id="contact-section" class="contact">
    <h2>Get a Quote</h2>
    <p>Fill out the form below or call us at <a href="tel:+1234567890">(267) 410-2791</a> for a quote. We guarantee a response within 2 hours!</p>

  <form name="contact-form" data-netlify="true">
    <input #shownNameInput type="text" [(ngModel)]="name" name="name" placeholder="Your Name" required>
    <input #shownEmailInput type="email" [(ngModel)]="email" name="email" placeholder="Your Email" required>
    <input #shownPhoneInput type="tel" [(ngModel)]="phone" name="phone" placeholder="Your Phone Number" required>
    <textarea #shownMessageInput [(ngModel)]="message" name="message" placeholder="Tell us about your project" required></textarea>
    <button (click)="onSubmit()" type="submit">Get Quote</button>
  </form>
</section>


<section id="blog">
  <h2 style="color: black; text-align: center; margin-top: 55px;"></h2>
  <div *ngFor="let post of blogs">
    <app-blog-post [title]="post.title" [content]="post.content" [date]="post.date" [link]="post.link"></app-blog-post>
  </div>
  
</section>