<nav class="navbar">
  <div class="logo clickable" (click)="navigateHome()">Deeper Recall</div>
  <ul class="nav-links" [ngClass]="{'show': menuOpen}">
    <li><a routerLink="/" routerLinkActive="active" (click)="menuOpen = false">Home</a></li>
    <!-- <li><a routerLink="/expertise" routerLinkActive="active" (click)="menuOpen = false">Expertise 2</a></li> -->
    @if(blogEnabled){
      <li><a routerLink="/blog" routerLinkActive="active" (click)="menuOpen = false">Blog</a></li>
    }
  </ul>
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
